
.Rproj.user/1EFF6A13/sources/s-19E3DA52/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/1EFF6A13/sources/s-19E3DA52/5B819133-contents
.Rproj.user/1EFF6A13/sources/s-19E3DA52/5B819133
.Rproj.user/1EFF6A13/sources/prop/C981494F
.Rproj.user/1EFF6A13/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
